<div
  id="post-container"
  class="container mx-auto mt-12 rounded-[40px] p-6 shadow-2xl bg-white"
>
  {{{header}}}
  <div class="w-3/4 container mx-auto">
    <h2 class="text-xl font-bold">{{post.title}}</h2>
    <p class="mt-4">{{post.content}}</p>
  </div>
</div>