<div
  id="sign-up-container"
  class="container mx-auto mt-12 rounded-[40px] p-6 shadow-2xl bg-white"
>
  <h1 class="text-center">Sign Up</h1>
  <form method="post" action="/signup">
    <label for="email">Email:</label><br />
    <input type="text" id="email" name="email" /><br />
    <label for="username">Username:</label><br />
    <input type="text" id="username" name="username" /><br />
    <label for="password">Password:</label><br />
    <input type="password" id="password" name="password" /><br />
    <input type="submit" value="Submit" />
  </form>
  <a href="/login" class="text-center underline">Login instead.</a>
</div>